mixin social(list)

  - const className = 'social'

  mj-social(
    css-class=className
    icon-size='32px'
    border-radius='16px')

    each item in list
      mj-social-element(
        css-class=className + '__element'
        name=item
        src=`${imagePath}social/${item}.png`)