include /spacer/spacer.pug
include /paragraph/paragraph.pug

mixin features()

  - const className = 'features'

  mj-section(css-class=className)

    mj-column(width='100%')
      mj-image(src=`${imagePath}features1.png`)

      +spacer({cssClass: className + '__spacer'})

    mj-column(
      css-class=className + '__col ' + className + '__col-l'
      width='50%')
      mj-image(src=`${imagePath}features3.png`)

    mj-column(
      css-class=className + '__col ' + className + '__col-r'
      width='50%')
      mj-image(src=`${imagePath}features3.png`)

      +spacer({cssClass: className + '__spacer'})

    mj-column(width='100%')
      +paragraph({text: 'MJML is a markup language designed to reduce the pain of coding a responsive email.'})
      +paragraph({text: 'MJML has been designed with responsiveness in mind. The abstraction it offers guarantee you to always be up-to-date with the industry practices and responsive. Email clients update their specs and requirements regularly, but we geek about that stuff'})
      mj-divider(css-class=className + '__hr')