include blocks/variables.pug
include blocks/social.pug

mjml
  include blocks/head.pug
  mj-body
    mj-container
      mj-hero(
        mode='fixed-height'
        height='317px'
        background-url=pathToImage + 'picto.png'
        background-color=bgBody)
        mj-hero-content
          mj-text(
            color='#fff'
            font-weight='700'
            font-family='Roboto, sans-serif') On Air
      mj-section
        mj-column
          mj-text(
            mj-class='foobar') foobar
        mj-column
          mj-text(
            css-class='baz') baz
        mj-column
          +social()
